@font-face {
  font-family: 'Inter';
  font-weight: 700;
  font-style: normal;
  src:
    url('/src/assets/fonts/Inter-Bold.woff2') format('woff2'),
    url('/src/assets/fonts/Inter-Bold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-weight: 700;
  font-style: italic;
  src:
    url('/src/assets/fonts/Inter-BoldItalic.woff2') format('woff2'),
    url('/src/assets/fonts/Inter-BoldItalic.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-weight: 600;
  font-style: normal;
  src:
    url('/src/assets/fonts/Inter-SemiBold.woff2') format('woff2'),
    url('/src/assets/fonts/Inter-SemiBold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-weight: 500;
  font-style: normal;
  src:
    url('/src/assets/fonts/Inter-Medium.woff2') format('woff2'),
    url('/src/assets/fonts/Inter-Medium.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-weight: 400;
  font-style: normal;
  src:
    url('/src/assets/fonts/Inter-Regular.woff2') format('woff2'),
    url('/src/assets/fonts/Inter-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  font-weight: 500;
  font-style: normal;
  src:
    url('/src/assets/fonts/Poppins-Medium.woff2') format('woff2'),
    url('/src/assets/fonts/Poppins-Medium.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  font-style: normal;
  src:
    url('/src/assets/fonts/Poppins-Regular.woff2') format('woff2'),
    url('/src/assets/fonts/Poppins-Regular.woff') format('woff');
  font-display: swap;
}
